

.menu-section {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu-toggle-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.menu-toggle-button:hover {
  background-color: #0056b3;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-category {
  flex: 1;
  min-width: 250px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-item {
  margin-bottom: 15px;
}

.menu-item h4 {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.menu-item img {
  width: 70%;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;

}

.menu-item p {
  font-size: 14px;
  color: #555;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.add-to-order-button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

.add-to-order-button:hover {
  background-color: #218838;
}

/* Media Queries */
@media (max-width: 768px) {
  .menu-list {
    flex-direction: column;
  }

  .menu-category {
    min-width: 100%;
  }
}

